body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 77, 77);
    font-family: Arial;
    color: whitesmoke;
}

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 77, 77);   
}



.displayh1{
    height: 30px;
}

.buttons{
    height: 30vh;
    width: 300px;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.display{
    border: 2px solid gray;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 5px;
    /* padding-left: 15px; */
}

.displayh1{
    padding-left: 15px;
    color: whitesmoke;
}

.btn{
    cursor: pointer;
    background-color: rgb(127, 126, 126);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: bold;
}

.btnEQ{
    cursor: pointer;
    background-color: rgb(11, 144, 7);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
}

.btnPLS{
    cursor: pointer;
    background-color: rgb(232, 160, 4);
    border: none;
    border-radius: 5px;
}

.btnMIN{
    cursor: pointer;
    background-color: rgb(232, 160, 4);
    border: none;
    border-radius: 5px;
}

.btnMUL{
    cursor: pointer;
    background-color: rgb(232, 160, 4);
    border: none;
    border-radius: 5px;
}

.btnDIV{
    cursor: pointer;
    background-color: rgb(232, 160, 4);
    border: none;
    border-radius: 5px;
}


.btnAC{
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: rgb(248, 123, 73);
}

.btn7{
    grid-row-start: 2;
}
.btn8{
    grid-row-start: 2;
}
.btn9{
    grid-row-start: 2;
}

.btn4{
    grid-row-start: 3;
}
.btn5{
    grid-row-start: 3;
}
.btn6{
    grid-row-start: 3;
}

.btn1{
    grid-row-start: 4;
}
.btn2{
    grid-row-start: 4;
}
.btn3{
    grid-row-start: 4;
}

.btnDEC{
    grid-row-start: 5;
}

.btn0{
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}


