* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  min-height: 100vh;
  background: url("https://i.pinimg.com/736x/3c/7b/28/3c7b28e09ce1bdeb9dfacb4a8644b794.jpg") center/cover no-repeat;
}

.header {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #ff7200;
  font-size: 28px;
  font-weight: 700;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

a.active{
  color: #ff7200;
}
.navbar a:hover {
  color: #ff7200;
}

.search-box {
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.search-box input {
  padding: 12px 10px;
  width: 20vw;
  border: none;
  outline: none;
  border-radius: 2px 0 0 2px;
}

.search-box button {
  padding: 12px 14px;
  border: none;
  outline: none;
  background: #ff7200;
  color: #fff;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.hero-text {
  max-width: 50vw;
}

.hero-text h1 {
  font-size: 60px;
  line-height: 1.1;
}

.hero-text h1 br {
  line-height: 0;
}

.hero-text h1 span {
  color: #ff7200;
}

.hero-text p {
  margin: 20px 0 30px;
  font-size: 20px;
  max-width: 420px;
}

.btn-join {
  padding: 10px 28px;
  border: none;
  outline: none;
  background: #ff7200;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  border-radius: 20px;
}

.login-card {
  width: 30vw;
  height: 50vh;
  background: rgba(0, 0, 0, 0.7);
  padding: 25px 25px 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}



.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
  background: #fff;
  color: #ff7200;
  padding: 8px 0;
  border-radius: 20px;
  font-size: 16px;
}

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-card input {
  padding: 8px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 13px;
}

.btn-login {
  padding: 8px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #ff7200;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.signup-text {
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
}

.signup-text a {
  color: #ff7200;
  text-decoration: none;
}

.social-text {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}

.social-icons {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 12px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}


